/* Solo en home page, quitar estilo activo del primer item */
.home .mega-menu-wrap .mega-menu-item:nth-child(2) a.mega-menu-link:not(:hover) {
    color: inherit !important;
    border: 0px !important;
    background: transparent !important;
}
@media (max-width: 768px) {
    /* Forzar visibilidad del menú de Max Mega Menu en móvil */
    .main-navigation .mega-menu-wrap,
    .main-navigation .mega-menu-toggle {
      display: flex !important;
    }
    .home #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item:nth-child(2) > a.mega-menu-link {
        color: white !important;
    }
    /* Ordenar los elementos de la cabecera en móvil */
    .has-inline-mobile-toggle #site-navigation {
        flex-basis: unset !important;
    }
    .header-widget {
        order: 1;
        max-width: 30%;
    }
    #mobile-menu-control-wrapper {
        order: 4;
    }
    .site-logo {
        order: 2;
        width: 60%;
    }
    #site-navigation {
        order: 3;
        width: 10%;
    }
}